<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sdwebimage" version="1.0.0">

    <name>cordova-plugin-sdwebimage</name>
    <description>Optimise image loading in your cordova app</description>
    <license>MIT</license>
    <repo>https://github.com/revolunet/cordova-plugin-sdwebimage.git</repo>

    <engines>
        <engine name="cordova" version="3.*" />
    </engines>

    <js-module src="www/plugin.js" name="SDWebImage">
        <clobbers target="cordova.plugins.SDWebImage"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVSDWebImage">
                <param name="ios-package" value="CDVSDWebImage" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="ImageIO.framework" weak="true" />

        <header-file src="src/ios/CDVSDWebImage.h" />
        <source-file src="src/ios/CDVSDWebImage.m" />

        <header-file src="libs/ios/WebViewProxy/WebViewProxy.h"/>
        <source-file src="libs/ios/WebViewProxy/WebViewProxy.m"/>

        <header-file src="libs/ios/SDWebImage/NSData+ImageContentType.h"/>
        <source-file src="libs/ios/SDWebImage/NSData+ImageContentType.m"/>
        <header-file src="libs/ios/SDWebImage/SDImageCache.h"/>
        <source-file src="libs/ios/SDWebImage/SDImageCache.m"/>
        <header-file src="libs/ios/SDWebImage/SDWebImageCompat.h"/>
        <source-file src="libs/ios/SDWebImage/SDWebImageCompat.m"/>
        <header-file src="libs/ios/SDWebImage/SDWebImageDecoder.h"/>
        <source-file src="libs/ios/SDWebImage/SDWebImageDecoder.m"/>
        <header-file src="libs/ios/SDWebImage/SDWebImageDownloader.h"/>
        <source-file src="libs/ios/SDWebImage/SDWebImageDownloader.m"/>
        <header-file src="libs/ios/SDWebImage/SDWebImageDownloaderOperation.h"/>
        <source-file src="libs/ios/SDWebImage/SDWebImageDownloaderOperation.m"/>
        <header-file src="libs/ios/SDWebImage/SDWebImageManager.h"/>
        <source-file src="libs/ios/SDWebImage/SDWebImageManager.m"/>
        <header-file src="libs/ios/SDWebImage/SDWebImageOperation.h"/>
        <header-file src="libs/ios/SDWebImage/SDWebImagePrefetcher.h"/>
        <source-file src="libs/ios/SDWebImage/SDWebImagePrefetcher.m"/>
        <header-file src="libs/ios/SDWebImage/UIImage+GIF.h"/>
        <source-file src="libs/ios/SDWebImage/UIImage+GIF.m"/>
        <header-file src="libs/ios/SDWebImage/UIImage+MultiFormat.h"/>
        <source-file src="libs/ios/SDWebImage/UIImage+MultiFormat.m"/>
        <header-file src="libs/ios/SDWebImage/UIImage+WebP.h"/>
        <source-file src="libs/ios/SDWebImage/UIImage+WebP.m"/>
        <header-file src="libs/ios/SDWebImage/UIImageView+WebCache.h"/>
        <source-file src="libs/ios/SDWebImage/UIImageView+WebCache.m"/>
        <header-file src="libs/ios/SDWebImage/UIView+WebCacheOperation.h"/>
        <source-file src="libs/ios/SDWebImage/UIView+WebCacheOperation.m"/>

    </platform>
</plugin>
